<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :userName %><br />
    <%= f.password_field :userName, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.password_field :firstName, autocomplete: "off" %>
  </div>

 <div class="field">
    <%= f.label :lastName %><br />
    <%= f.password_field :lastName, autocomplete: "off" %>
  </div>

 <div class="field">
    <%= f.label :twitter %><br />
    <%= f.password_field :twitter, autocomplete: "off" %>
  </div>
 <div class="field">
    <%= f.label :linkedin %><br />
    <%= f.password_field :linkedin, autocomplete: "off" %>
  </div>

 <div class="field">
    <%= f.label :github %><br />
    <%= f.password_field :github, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
